<% errors.forEach(function(message) { %>
    <div class="alert alert-danger text-center"><%= message %></5></div> 
<% }); %>

<% success.forEach(function(message) { %>
    <div class="alert alert-success text-center"><%= message %></5></div> 
<% }); %>